@tailwind preflight;
@tailwind components;
@tailwind utilities;

$themeOneColor: #22292F;
$themeTwoColor: #272e36;
$themeThreeColor: #2f3842;
$themeFourColor: #f1f5f8;
$themeBrandColor: #ba3e3e;
$themeFontColor: #ffffff;

// $caloriesColor: ;
// $proteinColor: ;
// $carbsColor: ;
// $fatColor: ;
// $primaryActionColor
// $secondaryActionColor

.bg-theme-color-1 { background-color: $themeOneColor; }
.bg-theme-color-2 { background-color: $themeTwoColor; }
.bg-theme-color-3 { background-color: $themeThreeColor; }
.bg-theme-color-4 { background-color: $themeFourColor; }
.bg-theme-brand-color { background-color: $themeBrandColor; }

.font-brand-color {
    color: $themeBrandColor;
}

body {
    color: $themeFontColor;
}

.dashboard--container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;

    nav {
        grid-column: span 2;
    }

    aside {
        grid-column: span 1;
        background: $themeTwoColor;
    }

    main {
        grid-column: span 1;
    }

    footer {
        grid-column: span 2;
        padding: 1rem;
    }
}




.dashboard--nav-menu {
    top: 100%;
}

.ingredient-form--chart {
    height: 30rem;
    width: 30rem;
}

.scrollable {
    overflow: hidden;
    overflow-y: auto;
}

.macro-card-list {
    max-height: 30rem;
}